<footer>
    <div class="fixed bottom-0 left-0 w-full text-center bg-gray-100 mb-2 p-4">
      <p>&copy; <%= new Date().getFullYear() %> अतिथि Tourism. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>

<!-- style="text-align: center; padding: 20px; background-color: #f8f9fa;" -->